.pageList {
  list-style: none;
  display: flex;
}

.pageList li {
  margin: 5px;
}

.pageList li a {
  padding: 5px;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #333;
  text-decoration: none;
}

.pageList .currentPage a {
  background-color: #999999;
}
